/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

 .wp-block-blog-header-bar-blog-header-bar {
	 position: relative;
	 padding: 20px 75px 20px 0;
	 min-height: 140px;
	 margin-bottom: 20px !important;
	 margin-top: 0 !important;
	 max-width: none !important;
 }

 .blog-header-text {
	 background: #f0f0f0;
	 padding: 40px 75px 10px 30px;
	 margin: 0;
	 min-height: 100px;
	 font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	 font-weight: 300;
	 font-size: 28px;
	 line-height: 44px;
 }

 .blog-header-text:before {
	 display:none;
 }

 .blog-header-image {
	 position: absolute;
	 right: 0;
	 top: 50%;
	 transform: translateY(-50%);
	 width: 140px;
 }